{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "parser": "typescript",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "max-line-length": [true, 100]
}
